{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<h1>Internal Server Error</h1>

<p>An error has occured on the server, and your request cannot be processed.</p>
<p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
{% endblock content %}


