{% load static i18n compress %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}RAMROD Rider Finder{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Web App To Look Up Rider Checkpoint Crossing Times For The RAMROD [Ride Around Mount Rainier in One Day] Bicycle Ride">
  <meta name="author" content="Ian Gallagher <ke7map@cdine.org>">

  {% include "favicon.html" %}
  {% include "social-opengraph.html" %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  {% block css %}

    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}

  {% endblock %}

</head>

<body>

<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
  <button class="menu-icon" type="button" aria-label="Expand Menu" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="menu">
  <div class="top-bar-left hide-for-small-only">
    <ul class="dropdown menu">
      <li class="menu-text">RAMROD Rider Finder</li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="http://www.redmondcyclingclub.org/">Redmond Cycling Club</a></li>
      {% if request.user.is_authenticated %}
        <li>
          <a href="/riderstatus/rider/list/">{% trans "Rider List" %}</a>
        </li>
        <li>
          <a href="/riderstatus/riderstatus/list/">{% trans "Rider Status Entries" %}</a>
        </li>
        <li>
          {# URL provided by django-allauth/account/urls.py #}
          <a href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a>
        </li>
        <li>
          {# URL provided by django-allauth/account/urls.py #}
          <a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
        </li>
      {% else %}
        {% comment %}<li>
          {# URL provided by django-allauth/account/urls.py #}
          <a id="sign-up-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        </li>{% endcomment %}
        <li>
          {# URL provided by django-allauth/account/urls.py #}
          <a id="log-in-link" href="{% url 'account_login' %}">{% trans "Volunteer Sign In" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>

</div>

<div class="row">

  <div class="medium-6 medium-offset-3 columns">
    {% if messages %}
      {% for message in messages %}
        <div class="callout {% if message.tags %}{{ message.tags }}{% endif %}" data-closable>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}</div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% block content %}
  <div class="grid-y medium-grid-frame grid-padding-x">
    <div class="cell shrink header medium-cell-block-container">
      <h1>The RAMROD Rider Finder</h1>
    </div>
    <div class="cell medium-auto medium-cell-block-container">
      <div class="callout primary">
        <p>
          RAMROD Rider Finder - base.html (if you're seeing this, something went wrong!)
        </p>
      </div>
    </div>
    {% block footer %}
      <div class="cell shrink footer">
        <p>RAMROD Rider Finder - Copyright 2018, Ian Gallagher - KE7MAP</p>
      </div>
    {% endblock footer %}
  </div>
{% endblock content %}

{% block modal %}{% endblock modal %}

{% block javascript %}
  <!-- JavaScript Placed at the end of the document so the pages load faster -->
  <!-- Required by Foundation 6.4.3 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'libs/what-input/what-input.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>

  <!-- place project specific Javascript in this file -->
  {% compress js %}
    <script src="{% static 'js/project.js' %}"></script>
  {% endcompress %}

  <script>
    // We can't make assumptions about last name lengths, aside from knowing something is required
    Foundation.Abide.defaults.patterns['rider_last_name'] = /^.{1,}$/;

    $(document).foundation();
  </script>
{% endblock javascript %}
</body>
</html>
