<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png?v=RAMROD_7eP">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png?v=RAMROD_7eP">
<link rel="icon" type="image/png" sizes="194x194" href="/static/images/favicons/favicon-194x194.png?v=RAMROD_7eP">
<link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicons/android-chrome-192x192.png?v=RAMROD_7eP">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png?v=RAMROD_7eP">
<link rel="manifest" href="/static/images/favicons/site.webmanifest?v=RAMROD_7eP">
<link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg?v=RAMROD_7eP" color="#da532c">
<link rel="shortcut icon" href="/static/images/favicons/favicon.ico?v=RAMROD_7eP">
<meta name="apple-mobile-web-app-title" content="RAMROD RF">
<meta name="application-name" content="RAMROD RF">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.png?v=RAMROD_7eP">
<meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml?v=RAMROD_7eP">
<meta name="theme-color" content="#ffffff">
