<meta property="og:image:width" content="279">
<meta property="og:image:height" content="279">
<meta property="og:title" content="RAMROD Rider Finder">
<meta property="og:description" content="The RAMROD Rider Finder allows the tracking of a RAMROD (Ride Around Mt. Rainier in One Day) rider's progress around the course by their friends, family, and volunteer staff.">
<meta property="og:url" content="https://ramrod.cdine.org">
<meta property="og:image" content="https://ramrod.cdine.org/static/images/og-image.jpg">
