{% extends "base.html" %}
{% block content %}
  <div class="grid-y medium-grid-frame grid-padding-x">
    <div class="cell medium-auto medium-cell-block-container">
      <div class="grid-x grid-padding-x">
        <div class="cell large-6 medium-cell-block-y">
          {% block content_left %}
            {% include "pages/rider_lookup_form_partial.html" %}
          {% endblock content_left %}
        </div>
        <div class="cell large-6 medium-cell-block-y">
          {% block content_right %}
            <h2>Statistics &amp; Aggregate Information</h2>
            <p>Imagine some general statistics about riders on the course here.</p>
          {% endblock content_right %}
        </div>
      </div>
    </div>
    {% block footer %}
      <div class="cell shrink footer">
        <p>RAMROD Rider Finder - Copyright 2018, Ian Gallagher - KE7MAP</p>
      </div>
    {% endblock footer %}
  </div>
{% endblock content %}
