{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}RAMROD Rider Finder{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Web App To Look Up Rider Checkpoint Crossing Times For The RAMROD [Ride Around Mount Rainier in One Day] Bicycle Ride">
  <meta name="author" content="Ian Gallagher <ke7map@cdine.org>">

  {% include "favicon.html" %}
  {% include "social-opengraph.html" %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  {% block css %}

    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}

  {% endblock %}

</head>

<body>

{% include "pages/rider_lookup_form_partial.html" %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
  <!-- Required by Foundation 6.4.3 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'libs/what-input/what-input.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>

  <!-- place project specific Javascript in this file -->
  {% compress js %}
    <script src="{% static 'js/project.js' %}"></script>
  {% endcompress %}
{% endblock javascript %}
</body>
</html>
