<form data-abide novalidate action="/riderstatus/rider/lookup/results/" method="get">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <p>
          RAMROD provides active tracking of its participants for the safety and well-being of riders. This information is used by the safety team to know where riders are located out on the course, and to know when section of the course are clear of riders. Tracking stations are set up to monitor the Start Line, the Park Entrance, Backbone Ridge, Cause Pass, and the Finish Line.
        </p>
        <p>
          Family and friends can check on the status of a rider during the event. Enter the Bib Number and the Last Name of the cyclist and you'll be shown what section of the course the rider is currently on as well as the time the rider went through the last tracking station.
        </p>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell">
        &nbsp;
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell">
        <div data-abide-error class="alert callout" style="display: none;">
          <p><i class="fi-alert"></i> There are some errors in your form - please correct them and try again.</p>
        </div>
      </div>
      <div class="cell small-6">
        <label for="bib-number-label" class="text-left middle">Enter the bib number of your rider:</label>
      </div>
      <div class="cell small-6">
        <input type="text" name="bib" id="bib-number-label" placeholder="e.g. 423" required pattern="number">
        <span class="form-error">
            You must enter a bib number, and it may only contain numeric digits.
        </span>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell small-6">
        <label for="rider-last-name-label" class="text-left middle">Enter the <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex=1 title="Only the first three letters are required (exact match if the last name is less than three characters), and case is not important. e.g. Lem, LEM, or lem">last name</span> of your rider:</label>
      </div>
      <div class="cell small-6">
        <input type="text" name="last_name" id="rider-last-name-label" placeholder="e.g. Lemond" required pattern="rider_last_name">
        <span class="form-error">
            You must enter the rider's last name.
        </span>
      </div>
    </div>

    <div class="grid-x grid-margin-x" style="display: none">
      <div class="cell small-6">
        <label for="event-year-label" class="text-left middle">Enter the event year to look up data for:</label>
      </div>
      <div class="cell small-6">
        <input type="text" name="year" id="event-year-label" required pattern="number">
        <span class="form-error">
            You must ehter an event year.
        </span>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell small-6">
        &nbsp;
      </div>
      <div class="cell small-6">
        <button type="submit" value="submit" class="button small radius bordered shadow primary float-right">Check Rider Status</button>
      </div>
    </div>
  </div>
</form>

<script>
    // Populate the year form field with the current year
    var d = new Date();
    var CURRENT_YEAR = d.getFullYear();
    document.getElementById("event-year-label").placeholder = CURRENT_YEAR;
    document.getElementById("event-year-label").value = CURRENT_YEAR;

    // We can't make assumptions about last name lengths, aside from knowing something is required
    Foundation.Abide.defaults.patterns['rider_last_name'] = /^.{1,}$/;
</script>
