{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}RAMROD Rider Finder{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Web App To Look Up Rider Checkpoint Crossing Times For The RAMROD [Ride Around Mount Rainier in One Day] Bicycle Ride">
  <meta name="author" content="Ian Gallagher <ke7map@cdine.org>">

  {% include "favicon.html" %}
  {% include "social-opengraph.html" %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  {% block css %}

    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}

  {% endblock %}

</head>

<body>


<div class="grid-container">
  {% if error %}
    <div class="callout alert">
      <h5>Rider Status Lookup Error</h5>
      <p>{{ error }}</p>
      <input type=button value="Retry" onClick="javascript:history.go(-1);">
    </div>
  {% endif %}
  {% if rider %}
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <p>
          RAMROD provides the following information to friends and family looking to check on the progress of a given
          rider:
        </p>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell">
        &nbsp;
      </div>
    </div>

    <!-- Current Rider Status Start -->

    <div class="grid-x grid-margin-x">
      <div class="cell small-4">
        <label for="rider-name" class="text-right top">
          Event Year:
        </label>
      </div>
      <div class="cell small-4">
        <div id="rider-name">
          {{ rider.roster_year }}
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell small-4">
        <label for="rider-name" class="text-right top">
          Rider Name:
        </label>
      </div>
      <div class="cell small-4">
        <div id="rider-name">
          {{ rider.full_name }}
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell small-4">
        <label for="rider-bib-number" class="text-right top">
          Rider Bib Number:
        </label>
      </div>
      <div class="cell small-4">
        <div id="rider-bib-number">
          #{{ rider.bib_number }}
        </div>
      </div>
    </div>

    <!-- Current Rider Status End -->

    <div class="grid-x grid-margin-x">
      <div class="cell small-4">
        <label for="last-checkpoint" class="text-right top">
          Last Checkpoint:
        </label>
      </div>
      <div class="cell small-4">
        <div id="last-checkpoint">
          {% if latest_rider_status %}
            {{ latest_rider_status.checkpoint }} - {{ latest_rider_status.checkpoint.distance|floatformat:"0" }} Miles
          {% else %}
            <i>None</i>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell small-4">
        <label for="last-checkpoint-time" class="text-right top">
          Last Checkpoint Time:
        </label>
      </div>
      <div class="cell small-4">
        <div id="last-checkpoint-time">
          {% if latest_rider_status %}
            {{ latest_rider_status.crossing_time }}
          {% else %}
            <i>None</i>
          {% endif %}
        </div>
      </div>

      <div class="grid-x grid-margin-x">
        <div class="cell">
          &nbsp;
        </div>
      </div>

    </div>

    <!-- Spacer between last checkpoint info and progress meter -->
    <div class="grid-x grid-margin-x">
      <div class="cell">
        &nbsp;
      </div>
    </div>

    <!-- Topgraphic map above progress meter -->
    <img src="/static/images/RAMRODProfileForTracker.png"/>

    <!-- Progress Meter -->
    {% if rider_status_entries %}
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="success progress" role="progressbar" tabindex="0"
               aria-valuenow="{{ latest_rider_status.checkpoint.distance|floatformat:"0" }}" aria-valuemin="0"
               aria-valuetext="{{ latest_rider_status.checkpoint.distance|floatformat:"0" }} Miles"
               aria-valuemax="{{ finish_mileage|floatformat:"0" }}">
            <div class="progress-meter" style="width: {{ progress_percentage }}%">
              <p class="progress-meter-text">{{ latest_rider_status.checkpoint.name }}
                - {{ latest_rider_status.checkpoint.distance|floatformat:"0" }} Miles</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Spacer between progress meter and results table -->
    <div class="grid-x grid-margin-x">
      <div class="cell">
        &nbsp;
      </div>
    </div>

    <!-- Rider Status Entry Table Start -->
    <div class="grid-x grid-margin-x">
      <div class="cell">
        {% if rider_status_entries %}
          <table class="hover">
          <thead>
          <tr>
            <th>Log Time</th>
            <th>Checkpoint</th>
            <th>Distance</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          {% for status in rider_status_entries %}
            <tr>
              {% if forloop.first %}
                <td>{{ status.crossing_time }} <span class="success label">Latest</span></td>
              {% elif forloop.last %}
                <td>{{ status.crossing_time }} <span class="primary label">First</span></td>
              {% else %}
                <td>{{ status.crossing_time }}</td>
              {% endif %}
              <td>{{ status.checkpoint }}</td>
              <td>{{ status.checkpoint.distance|floatformat:"0" }} Miles</td>
              <td>{% if user.is_authenticated %}{{ status.status }}: {% endif %}{{ status.render_status }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <div class="callout primary">
            <h5>No Checkpoint Information Available</h5>
            <p>We have no checkpoint information recorded for this rider. Check back soon!</p>
          </div>
        {% endif %}
        </tbody>
        </table>
        <!-- Rider Status Entry Table End -->

      </div>
    </div>
  {% endif %}
</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
  <!-- Required by Foundation 6.4.3 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'libs/what-input/what-input.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>

  <!-- place project specific Javascript in this file -->
  {% compress js %}
    <script src="{% static 'js/project.js' %}"></script>
  {% endcompress %}

  <!-- Your stuff: Third-party javascript libraries go here -->

  <script>
    $(document).foundation();
  </script>
{% endblock javascript %}
</body>
</html>
