{% extends "base.html" %}
{% load foundation_paginator %}
{% block content %}
  <div class="grid-y medium-grid-frame grid-padding-x">
    <div class="cell shrink header medium-cell-block-container">
      <h1>The RAMROD Rider Finder</h1>
    </div>
    <div class="cell medium-auto medium-cell-block-y">

      {% comment %}
        <div class="cell">
          <h2>Rider Status Entries</h2>
          <ul>
            {% for rider_status in page_obj %}
	      <li><a href="/riderstatus/rider/lookup/results/?year={{ rider_status.rider.roster_year }}&bib={{ rider_status.rider.bib_number }}&last_name={{ rider_status.rider.last_name }}">#{{ rider_status.rider.bib_number }}: {{ rider_status.rider.full_name }}</a></li>
            {% empty %}
              <li>No rider status entries are currently loaded in the database.</li>
            {% endfor %}
          </ul>
        {% endcomment %}

      <div class="cell">

        <table class="stacked hover">
          <thead>
          <tr>
            <th width="80">ID</th>
            <th width="50">Bib</th>
            <th width="350">Rider Name</th>
            <th width="200">Checkpoint</th>
            <th width="350">Rider Status</th>
            <th width="150">Crossing Time</th>
            <th width="250">Data Received Time</th>
          </tr>
          </thead>

          <tbody>
          {% for rider_status in page_obj %}
            <tr>
              <td>{{ rider_status.pk }}</td>
              <td>
		<a href="/riderstatus/rider/lookup/results/?year={{ rider_status.rider.roster_year}}&bib={{ rider_status.rider.bib_number }}&last_name={{ rider_status.rider.last_name }}">{{ rider_status.rider.bib_number }}</a>
              </td>
              <td>
                <a href="/riderstatus/rider/lookup/results/?year={{ rider_status.rider.roster_year}}&bib={{ rider_status.rider.bib_number }}&last_name={{ rider_status.rider.last_name }}">{{ rider_status.rider.full_name }}</a>
              </td>
              <td>{{ rider_status.checkpoint }}</td>
              <td>{{ rider_status.status }}: {{ rider_status.render_status }}</td>
              <td>{{ rider_status.crossing_time|date:"c" }}</td>
              <td>{{ rider_status.data_received_time|date:"Y-m-d H:i:s.u T" }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>

      {% foundation_paginator %}

    </div>
  </div>
  {% block footer %}
    <div class="cell shrink footer">
      <p>RAMROD Rider Finder - Copyright 2018, Ian Gallagher - KE7MAP</p>
    </div>
  {% endblock footer %}
  </div>
{% endblock content %}
