{% extends "base.html" %}
{% load foundation_paginator %}
{% block content %}
  <div class="grid-y medium-grid-frame grid-padding-x">
    <div class="cell shrink header medium-cell-block-container">
      <h1>The RAMROD Rider Finder</h1>
    </div>
    <div class="cell medium-auto medium-cell-block-y">

        {% comment %}<div class="cell medium-auto medium-cell-block-container">{% endcomment %}
        <div class="cell">
          <h2>Rider List</h2>
          <ul>
            {% for rider in page_obj %}
	    <li><a href="/riderstatus/rider/lookup/results/?year={{ rider.roster_year }}&bib={{ rider.bib_number }}&last_name={{ rider.last_name }}">{{ rider.roster_year }}: #{{ rider.bib_number }} - {{ rider.full_name }}</a></li>
            {% empty %}
              <li>No riders are currently loaded in the database.</li>
            {% endfor %}
          </ul>

        {% foundation_paginator %}

        </div>
    </div>
    {% block footer %}
      <div class="cell shrink footer">
        <p>RAMROD Rider Finder - Copyright 2018, Ian Gallagher - KE7MAP</p>
      </div>
    {% endblock footer %}
  </div>
{% endblock content %}
